@{
    ViewBag.Title = "Support";
}

<div class="row">
    <div class="span10 offset1">
        <div class="page-header">
            <h1>@ViewBag.Title <small>Help, support and contact.</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="well">
            <h4>Please check back here soon for help and support information.</h4>
        </div>
    </div>
</div>