@model int

<ul class="unstyled">
    <li>0% <span class="pull-right">100%</span>
        <div class="progress">
            @{
                <div class="bar bar-warning" style="width: 25%;"></div>
        
                if (Model > 25)
                {            
                    <div class="bar bar-success" style="width: @(Model - 25)%;"></div>
                }   
            }   
        </div>
    </li>
</ul>