@model BlueZero.Air.Models.NoteViewModel

<div>
    <ul class="unstyled">
        <li>
            <div class="control-group">
                <div class="controls">                    
                    @Html.LabelFor(m => m.Date, new { @class = "control-label label" })
                    <br />
                    @Html.DisplayFor(m => m.Date)
                </div>
            </div>
        </li>
        <li>
            <div class="control-group">
                <div class="controls">
                    @Html.LabelFor(m => m.Detail, new { @class = "control-label label" })
                    <br />
                    @Html.DisplayFor(m => m.Detail)
                </div>
            </div>
        </li>
    </ul>
</div>
