<div class="row">
    <div class="span10">
        <div class="well">
            <ul>
                <li>
                    <h2>Visitor Maps</h2>
                </li>
                <li>
                    <div class="partialContents" data-url="@Url.Action("VisitorMapPerMonth", "Administrator")">
                        <img src="~/Content/images/loading-indicator-white.gif" />
                        Loading ... 
                    </div>                   
                </li>
                <li>
                    <div class="partialContents" data-url="@Url.Action("VisitorMapPerYear", "Administrator")">
                        <img src="~/Content/images/loading-indicator-white.gif" />
                        Loading ... 
                    </div>                    
                </li>
            </ul>
        </div>
    </div>
</div>
