@{
    ViewBag.Title = "Administrator Home";
}

<div class="row">
    <div class="span10 offset1">
        <div class="page-header">
            <h1>@ViewBag.Title <small>Administrative options.</small></h1>
        </div>

        @Html.Partial("_VisitorMapPartial")       

    </div>
</div>

@section scripts {           
    <script src="/Scripts/jquery.table.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#brand').show();
        });        
    </script>     
}