
@*<blockquote class="pull-right">
  <p class="lead text-info">"I couldn't be without it."</p>
  <small>A parent of <cite title="Some Child">Some Child</cite></small>
</blockquote>*@

<blockquote>
  <p class="lead text-info ">
      <i class="icon-quote-left icon-muted"></i> I'm informed, I feel closer. Its enlightening! <i class="icon-quote-right icon-muted"></i>
  </p>
  <small><cite title="Source Title"><em> Full time Media professional...and parent </em></cite></small>
</blockquote>
<p>
    The Kiddycare Diary app enables child care professionals and parents to connect. Carers can share, and parents are able to view detailed events from a child's day - in real-time!
</p>
<p>
    Gain visibility as a parent. As a carer, share the day's exciting developments - enabling better communication and providing enhanced peace of mind.
</p>
<p>
    <i class="icon-ok-sign"></i> View the details of your child's day<br />
    <i class="icon-ok-sign"></i> Track events, record progress. Enable visibility. Instant updates!<br />
    <i class="icon-ok-sign"></i> View today's events, view historical events<br />
    <i class="icon-ok-sign"></i> Easily access contact links and messages - become connected<br />
    <i class="icon-ok-sign"></i> Analyse historical trends, patterns. See development as it occurs!<br />
    <i class="icon-ok-sign"></i> The easy to use, intuitive interface enables maximum access<br />
    <i class="icon-ok-sign"></i> Your data is your own. Export, delete, share<br />
</p>
