<div class="android">
    <div id="carousel-screenshots" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <img src="/Content/images/screens/android_screen_1.png" alt="Android Screenshot 1" />
            </div>
            <div class="item">
                <img src="/Content/images/screens/android_screen_2.png" alt="Android Screenshot 1" />
            </div>
            <div class="item">
                <img src="/Content/images/screens/android_screen_3.png" alt="Android Screenshot 1" />
            </div>
            <div class="item">
                <img src="/Content/images/screens/android_screen_4.png" alt="Android Screenshot 1" />
            </div>
        </div>
    </div>
</div>

 <div class="carousel-nav">
    <a href="#" data-to="0" class="active">1</a>
    <a href="#" data-to="1">2</a>
    <a href="#" data-to="2">3</a>
    <a href="#" data-to="3">4</a>
</div>
