<table>
    <tr>
        <td>
            <img src="~/Content/images/avatar.jpg" alt="Avatar" class="avatar" /></td>
        <td>
            <h3>John Doe</h3>
            <small>Designer</small>
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Content/images/avatar.jpg" alt="Avatar" class="avatar" /></td>
        <td>
            <h3>John Doe</h3>
            <small>Developer</small>
        </td>
    </tr>
</table>
