<table class="table">
    <thead>
        <tr>
            <th>Version</th>
            <th>Description</th>
            <tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>1.0b</h3>
                @*<small>@DateTime.Now.ToString("dd/MM/yyyy")</small>*@
                <small>Q1 2013</small>
            </td>
            <td>
                <ul>
                    <li><span class="label">New</span> Initial Android beta release</li>
                    <li><span class="label">New</span> Full website integration</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
