<p>
    Dear @ViewBag.Username,
</p>
<p>
    Thankyou for registering with Kiddycare Diary!
</p>
<p>
    Your account has been set up and you can now log into the secure portal to view events from @String.Format("{0}'s", ViewBag.ChildName) day as recorded by your childcare representative @ViewBag.CarerName.
</p>
<p>
    The <a href="http://www.kiddycarediary.com" target="_blank">Kiddycare Diary</a> support team.
</p>