@{
    ViewBag.Title = "Forgot Password";
}

<div class="row">
    <div class="span10 offset1">
        <div class="page-header">
            <h1>@ViewBag.Title <small>Reset your password.</small></h1>
        </div>
        <div class="well">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>    
</div>

@section scripts {    
    @Scripts.Render("~/bundles/bootstrap-validation")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginLink').hide()
        });
    </script>
}
